<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/form.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('./layout/header', { user: user }); -%>
    <div class="content">
        <ul>
          <% for (const error of errors) { %>
            <li><%= error.msg %></li>
          <% } %>
        </ul>
        <form method="POST">
            <h2>Login Information</h2>
            <label for="username">Username*</label>
            <br>
            <input type="text" name="username" id="username" />
            <br>

            <label for="password">Password*</label>
            <br>
            <input type="password" name="password" id="password" />
            <br>
            <label for="confirmPassword">Confirm Password*</label>
            <br>
            <input type="password" name="confirmPassword" id="confirmPassword" />
            <br>

            <h2>Personal Name</h2>
            <label for="firstName">First Name*</label>
            <br>
            <input type="text" name="firstName" id="firstName" />
            <br>

            <label for="lastName">Last Name*</label>
            <br>
            <input type="text" name="lastName" id="lastName" />
            <br>

            <h2>User Privileges</h2>
            <label for="memberCode">Membership Code</label>
            <br>
            <p>Enter code to gain member privileges</p>
            <input type="text" name="memberCode" id="memberCode" />
            <br>

            <label for="adminCode">Administrator Code</label>
            <br>
            <p>Enter code to gain admin privileges</p>
            <input type="text" name="adminCode" id="adminCode" />
            <br>

            <p>* required</p>

            <input type="submit" value="Register" >
        </form>
    </div>
    <%- include('./layout/footer'); -%>
  </body>
</html>