input[type="text"], input[type="password"] {
    border: 1px solid var(--bo-col);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--m-bg);

    width: 100%;
}

input, textarea {
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    color: var(--m-txt);
    font-size: 1.2rem;
}

textarea {
    min-width: 40rem;
    min-height: 20rem;
    font-family: 'poppins', sans-serif;

    border: 1px solid var(--bo-col);
    border-radius: 5px;
    background-color: var(--s-bg3);
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}

input[type="submit"] {
    margin: 1rem var(--link-dist);
    padding: var(--link-dist) calc(2 * var(--link-dist));

    border: 1px solid var(--bo-col);
    border-radius: 5px;

    color: var(--l-txt);
    background-color: var(--m-bg);
}

input[type="submit"]:hover {
    background-color: var(--lh-bg);
    color: var(--l-txt);
}

.content {
    justify-content: center;
}

form {
    min-width: 30%;
    margin: 1rem;
}

p {
    font-size: 0.8rem;
    padding: 0;
    margin: 0.2rem;
}

.label {
    margin-left: 0;
    font-size: 1rem;
}