<header>
    <div class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">Members Only Fans</a>
            <div class="link-list">
                <% if (!user) { %>
                    <a href="/login" class="navbar-link">Login</a>
                    <a href="/register" class="navbar-link">Register</a>
                <% } else { %>
                    <a href="<%= user.url %>" class="navbar-link"><%= user.fullName %></a>
                    <a href="/signout" class="navbar-link">Sign-out</a>
                <% } %>
            </div>
        </div>
    </div>
</header>